/*
font-family: 'Inter Tight', sans-serif; 400 & 600
font-family: 'Orbitron', sans-serif; 500 & 700
*/

/* Colour Definitions */

* {
    --cordovan: hsla(354, 30%, 44%, 1); /* #924f55 */
    --ming: hsla(183, 31%, 34%, 1); /* #3c6f72 */
    --accent-color: hsla(20, 100%, 60%, 1); /* #ff7733 */
    --background-color: hsla(0, 0%, 85%, 1); /* #d9d9d9 */
    --main-color: hsla(204, 42%, 27%, 1); /* #284b62 */
    --text-color: hsla(0, 0%, 30%, 1); /* #4d4d4d */
    --shadow-effect: inset 3px 3px 3px 0px rgba(255, 255, 255, 0.8), inset -3px -3px 3px 0px rgba(12, 12, 12, 0.22)
}

/* Styling of common elements */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.4;
    background-color: var(--background-color);
    color: var(--text-color);
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;
}

select {
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--text-color);
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    line-height: 1.3;
    color: var(--main-color);
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

p {
    text-align: center;
}

strong {
    font-weight: 600;
    color: var(--main-color);
}

.screen {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    /* min-width: 320px;
    max-width: 480px;
    margin: 0 auto; */
    padding: 1rem;
    /* Visual aid only - remove when done */
    border: 1px solid red;
}

/* Between screen navigation */

nav ul {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 2rem 0;
}

nav li {
    padding: 1rem 2rem;
    background-color: var(--main-color);
    color: var(--background-color);
    transition: transform 125ms;
    width: max-content;
}

nav li:hover {
    cursor: pointer;
}

nav li:first-of-type {
    transform: translateX(-1rem);
    padding-right: 2.5rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    background: linear-gradient(135deg, var(--ming) 0%, var(--main-color) 100%);
}

nav li:first-of-type:hover {
    transform: translateX(-0.5rem) scale(120%);
}

nav li:last-of-type {
    transform: translateX(1rem);
    padding-left: 2.5rem;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    background: linear-gradient(135deg, var(--main-color) 0%, var(--ming) 100%);

}

nav li:last-of-type:hover {
    transform: translateX(0.5rem) scale(120%);
}

/* Opponent selection styling */

#oponent-selection {
    width: max-content;
    margin: 0 auto;
}

#oponent-selection label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

/* Player's decision section */
#players-choice {
    margin-top: 2rem;
}

#decision {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

#decision li {
    display: inline-block;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--main-color);
    width: 3rem;
    height: 3rem;
    border: 3px solid var(--cordovan);
    border-radius: 50%;
    text-align: center;
    transition: transform 125ms;
    box-shadow: var(--shadow-effect);
}

#decision li:hover {
    cursor: pointer;
    transform: scale(120%);
}

/* Opponent trow section */

#opponent-choice {
    margin-top: 2rem;
    width: 100%;
}

#throw-outcome {
    padding: 0.5rem 1rem;
    border: 2px solid var(--message-color);
    color: var(--message-color);
    margin: 1rem auto;
    width: max-content;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: var(--shadow-effect);
    line-height: 1.5rem;
}

#throw-outcome span {
    font-size: 1rem;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    color: var(--text-color);
}

.result-none{
    opacity: 0;
}

.result-draw {
    --message-color: var(--text-color);
    opacity: 1;
}

.result-win {
    --message-color: var(--cordovan);
    opacity: 1;
}

.result-defeat {
    --message-color: var(--main-color);
    opacity: 1;
}

#icon-opponent {
    display: block;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--cordovan);
    width: 3rem;
    height: 3rem;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    box-shadow: var(--shadow-effect);
}

/* Rules screen styling */

#rules-screen, #stats-screen {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    background-color: var(--background-color);
}

#rules-screen {
    left: -10000px;
    transition: left 500ms;
}

#rules-screen.visible {
    left: 0px;
}

#stats-screen {
    right: -10000px;
    transition: right 500ms;
}

#stats-screen.visible {
    right: 0px;
    display: block;
}

#rules-screen h1, #stats-screen h1 {
    margin-top: 0;
}

.close-icon {
    font-size: 2rem;
    text-align: right;
}

.close-icon:hover {
    cursor: pointer;
}

#rules-screen img {
    width: 80%;
    display: block;
    margin: 2rem auto;
}

/* Statistics screen styling */

#stats-screen p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 4em;
}

#stats-screen h1 {
    margin-bottom: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#wins-chart {
    margin: 1rem auto;
    width: 100%;
}

#chart-selector {
    margin: 2rem auto;
    text-align: center;
}

#chart-two-legend {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    color: var(--background-color);
    margin-top: 2rem;
}

#chart-two-legend i {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    background-color: var(--text-color);
}

#throws-chart {
    width: 80%;
    margin: 0 auto;
}