/*
font-family: 'Inter Tight', sans-serif; 400 & 600
font-family: 'Orbitron', sans-serif; 500 & 700
*/

/* Colour Definitions */

* {
    --cordovan: hsla(354, 30%, 44%, 1);
    --ming: hsla(183, 31%, 34%, 1);
    --accent-color: hsla(20, 100%, 60%, 1);
    --background-color: hsla(0, 0%, 85%, 1);
    --main-color: hsla(204, 42%, 27%, 1);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 1.2rem;
    background-color: var(--background-color);
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: var(--main-color);
}